<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>NDOW 240</title>
	<% include ../partials/bootstrap %> <!-- bootstrap & jquery -->
	<% include ../partials/datatables %> <!-- datatables js -->
	<% include ../partials/leaflet %> <!-- leaflet js -->
	<link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>

	<% include ../partials/navigation %>

		<div class="container">
			<header class="jumbotron mgn-top-sm" id="obs-jumbo">
				<div class="container text-right text-white">
					<h1>Wildlife Observations</h1>
					<p>Enter, edit, and view wildlife observations made by NDOW biologists.</p>
					<p>
						<% if(currentUser){ %>
							<a class="btn btn-primary btn-large" href="/observations/new">Add New Observation</a>
						<%}%>
					</p>
				</div>
			</header>

			<table id="encTable" class="display" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Species</th>
						<th>Date</th>
						<th>Female</th>
						<th>Male</th>
						<th>Unk</th>
						<th>Total</th>
						<th>Location</th>
						<th>Observer</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<% observations.forEach(function(observation){ %>
						<tr>
							<td>
								<a href="/species/<%= observation.Species.id %>">
									<em><%= observation.Species.species_name %></em> - <%= observation.Species.common_name %>
								</a>
							</td>
							<td>
								<%= observation.date.toDateString() %>
							</td>
							<td>
								<%= observation.female %>
							</td>
							<td>
								<%= observation.male %>
							</td>
							<td>
								<%= observation.sex_unk %>
							</td>
							<td>
								<%= observation.total %>
							</td>
							<td>
								<%= observation.location %>
							</td>
							<td>
								<%= observation.User.username %>
							</td>
							<td>
								<form method="POST" action="/observations/<%= observation.id %>?_method=DELETE" class="form-inline">
									<a href="/observations/<%= observation.id %>" class="btn btn-primary btn-sm">View</a>
									<% if(currentUser){ %>
										<a href="/observations/<%= observation.id %>/edit" class="btn btn-warning btn-sm">Edit</a>
										<button class="btn btn-sm btn-danger">Delete</button>
									<% } %>
								</form>
							</td>
						</tr>
						<% }) %>
				</tbody>
			</table>
			<br>
			<div id="mapid" style="height: 400px;"></div>
			<br>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				$('#encTable').dataTable();
			});
		</script>
		<script type="text/javascript">
			var mymap = L.map('mapid').setView([39.38526, -116.87256], 7);
			L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
				attribution: 'Tiles &copy; Esri'
			}).addTo(mymap);

			function onEachFeature(feature, layer) {
				// does this feature have a property named popupContent?
				if (feature.properties && feature.properties.popupContent) {
					layer.bindPopup(feature.properties.popupContent);
				}
			}

			var obs = [];
			<% observations.forEach(function(observation){ %>
			var ob = {
				"type": "Feature",
				"properties": {
					"name": "<%= observation.id %>",
					"popupContent": "<%= observation.Species.species_name %>",
				},
				"geometry": {
					"type": "Point",
					"coordinates": [<%= observation.geo_x %>, <%= observation.geo_y %>]
				}
			};
			obs.push(ob);
			<% }) %>

			var geojsonMarkerOptions = {
				radius: 5,
				fillColor: "#ffa500",
				color: "#fff",
				weight: 1,
				opacity: .25,
				fillOpacity: 0.8
			};

			L.geoJson(obs, {
				onEachFeature: onEachFeature,
				pointToLayer: function(feature, latlng) {
					return L.circleMarker(latlng, geojsonMarkerOptions);
				}
			}).addTo(mymap);
		</script>
</body>

</html>
