<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>NDOW 240</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>

		<% include ../partials/navigation %>

		<div class="container" class="col-sm-12">
    	<div class="row">
				<h2 class="col-sm-6 col-sm-offset-3" style="text-align: center;">Wildlife Sight Record - Form 240</h2>
    	</div>
        <br>
        <br>
        <!-- main content panel -->
        <div class="col-md-8">
            <h3><%= observation.species %></h3>
            <hr>
            <div class="table-responsive" id="obs-table">
                <h3>Numbers:</h3>
                <table class="table" id="observation">
                    <thead>
                        <tr>
                            <th>
                                No. Male
                            </th>
                            <th>
                                No. Female
                            </th>
                            <th>
                                No. Adult
                            </th>
                            <th>
                                No. Young
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>
                            <%= observation.male %>
                        </td>
                        <td>
                            <%= observation.female %>
                        </td>
                        <td>
                            <%= observation.adult %>
                        </td>
                        <td>
                            <%= observation.young %>
                        </td>
                        <td>
                            <%= observation.total %>
                        </td>
                    </tbody>
                </table>
            </div>
            <div id="obs-comments">
                <h3>Comments:</h3>
                <p>
                    <%= observation.comments %>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div id="obs-action-btns">
                <a class="btn btn-warning" href="/observations/<%= observation._id %>/edit">Edit</a>
                <form id="delete-form" action="/observations/<%= observation._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>

        <!-- side panel -->
        <div class="col-md-4">
            <div class="list-group">
                <li class="list-group-item active">Meta-data</li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <%= observation.date %>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-user"> </span> <%= observation.observer %>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-map-marker"></span> (<%= observation.x %>, <%= observation.y %>)
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-map-marker"></span> <%= observation.location %>
                </li>
            </div>
            <!-- map image from mapbox (classic static API) -->
            <div class="thumbnail" id="obs-map">
                <img class="img-responsive" src="https://api.mapbox.com/v4/mapbox.outdoors/pin-l+337ab7(<%= observation.x %>,<%= observation.y %>)/<%= observation.x %>,<%= observation.y %>,10/500x500.png?access_token=pk.eyJ1IjoibWdyaXR0cyIsImEiOiJjaXI2d2x0eXkwMHA4ZzdtMzJvb3k2eDBpIn0.wIgrA9uQggw7FwyNGA_4AQ" alt="" />
            </div>
        </div>
        <br>

		<!-- qaqc comments/remarks -->
		<div class="col-sm-12">
			<div class="well">
				<a href="#" class="btn btn-primary pull-right">Add Remark</a>
				<h2>QA/QC Remarks</h2>
				<hr>
				<div id="obs-remark">
					<strong>mitchellgritts (comment.author)</strong>
                    <span class="pull-right">Aug. 7, 2016 (comment.date)</span>
                    <p style="padding-left: 10px; padding-top: 10px">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
				</div>
			</div>
		</div>
		</div>

	</body>
</html>
