<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>NDOW 240</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
		<link rel="stylesheet" href="/stylesheets/main.css">
		<script src="https://npmcdn.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
	</head>
	<body>

		<% include ../partials/navigation %>

		<div class="container" class="col-sm-12">
    	<div class="row">
				<h2 class="col-sm-6 col-sm-offset-3" style="text-align: center;">Wildlife Sight Record - Form 240</h2>
				<div class="pull-right">
					<a href="/observations">Go Back</a>
				</div>
    	</div>
        <br>
        <br>

		<!-- main content panel -->
        <div class="col-md-7">
            <h3><em><%= observation.species %></em></h3>
            <hr>
            <div class="table-responsive" id="obs-table">
                <h3>Numbers:</h3>
                <table class="table" id="observation">
                    <thead>
                        <tr>
                            <th>
                                No. Male
                            </th>
                            <th>
                                No. Female
                            </th>
                            <th>
                                No. Adult
                            </th>
                            <th>
                                No. Young
                            </th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>
                            <%= observation.male %>
                        </td>
                        <td>
                            <%= observation.female %>
                        </td>
                        <td>
                            <%= observation.adult %>
                        </td>
                        <td>
                            <%= observation.young %>
                        </td>
                        <td>
                            <%= observation.total %>
                        </td>
                    </tbody>
                </table>
            </div>
            <div id="obs-comments">
                <h3>Comments:</h3>
                <p>
                    <%= observation.comments %>
                </p>
            </div>
			<!-- obsevation map -->
			<div id="obs-map" class="img-rounded"></div>
        </div> <!-- ./main content panel -->

        <!-- side panel -->
        <div class="col-md-5">

			<!-- observation action buttons -->
			<div id="obs-action-btns" class="pad-bottom text-right">
				<a class="btn btn-primary-inv" href="/observations">Go Back</a>
				<a class="btn btn-warning" href="/observations/<%= observation._id %>/edit">Edit Observation</a>
				<form id="delete-form" action="/observations/<%= observation._id %>?_method=DELETE" method="post">
					<button class="btn btn-danger">Delete Observation</button>
				</form>
			</div>

			<!-- observation metadata panel -->
            <div class="list-group">
                <li class="list-group-item active">metadata</li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-calendar"></span>
                    <%= observation.date %>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-user"> </span> <%= observation.obsby.username %>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-map-marker"></span> <%= observation.location %>
                </li>
                <li class="list-group-item">
                    <span class="glyphicon glyphicon-map-marker"></span> (<%= observation.x %>, <%= observation.y %>)
                </li>
            </div>

			<!-- qa/qc remarks -->
			<div class="well">
				<% if(currentUser){ %>
					<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal">Add Remark</button>
				<% } %>
				<h3>QA/QC Remarks</h3>
				<hr>
				<!-- qa/qc remarks -->
				<% observation.qaqc.forEach(function(qaqc){ console.log(qaqc)%>
                    <div class="obs-qaqc">
						<div class="obs-qaqc-header">
							<strong><%= qaqc.author.username %></strong>
	                        <span class="pull-right"><%= qaqc.date.toDateString() %></span>
						</div>
						<div class="obs-qaqc-body">
							<strong>Actions:</strong> <span><%= qaqc.action %></span>
							<p class="obs-body-text">
	                            <%= qaqc.text %>
	                        </p>
						</div>
                    </div>
                <% }) %>
			</div>

        </div>
        <br>

		<!-- new comment modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Modal Title</h4>
					</div>
					<div class="modal-body">
						<form class="" action="/observations/<%= observation._id %>/comments" method="post">
							<div class="form-group">
								<label for="remark">Remark:</label>
								<textarea class="form-control" name="remark" placeholder="remark text..."></textarea>
							</div>
							<div class="form-group">
								<label for="qaqc">Action:</label> <!-- TODO: use icons to represent actions (visual grepping) -->
								<input class="form-control" type="text" name="qaqc" placeholder="qa/qc action to take">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Save Remark</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- ./ content container -->
	<script type="text/javascript">
		var coords = [<%= observation.y %>, <%= observation.x %>];
		var obmap = L.map('obs-map').setView(coords, 11);
		L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
			attribution: 'Tiles &copy; Esri'
		}).addTo(obmap);
		var marker = L.marker(coords).addTo(obmap);
	</script>
	</body>
</html>
