<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>NDOW 240</title>
		<% include ../partials/bootstrap %> <!-- bootstrap & jquery -->
		<% include ../partials/leaflet %> <!-- leaflet -->
        <link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<% include ../partials/navigation %>

		<div class="container" class="col-sm-12">
    	<div class="row">
				<h2 class="col-sm-6 col-sm-offset-3" style="text-align: center;">Wildlife Sight Record - Form 240</h2>
    	</div>
        <br>
        <br>

		<!-- main content panel -->
        <div class="col-md-7">
            <h3><em><%= observation.species %></em></h3>
            <hr>
			<!-- observation method and life status -->
			<!-- IDEA: should this go in the metadata? -->
			<div>
				<span class="text-muted">Status: Dead</span>
				<span class="text-muted pull-right">Encounter Method: Observation</span>
			</div> <!-- end obs method & life status -->

            <div class="table-responsive" id="obs-table">
                <h3>Numbers:</h3>
                <table class="table" id="observation">
                    <thead>
                        <tr>
                            <th>
                                Male
                            </th>
                            <th>
                                Female
                            </th>
							<th>
								Sex Unk.
							</th>
                            <th>
                                Adult
                            </th>
                            <th>
                                Young
                            </th>
							<th>
								Age Unk.
							</th>
                            <th>
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>
                            <%= observation.male %>
                        </td>
                        <td>
                            <%= observation.female %>
                        </td>
						<td>
							<%= observation.sex_unk %>
						</td>
                        <td>
                            <%= observation.adult %>
                        </td>
                        <td>
                            <%= observation.young %>
                        </td>
						<td>
							<%= observation.age_unk %>
						</td>
                        <td>
                            <%= observation.total %>
                        </td>
                    </tbody>
                </table>
            </div>
            <div id="obs-comments">
                <h3>Comments:</h3>
                <p>
                    <%= observation.comments %>
                </p>
            </div>
			<!-- obsevation map -->
			<div id="obs-map" class="img-rounded"></div>
        </div> <!-- end main content panel -->

        <!-- side panel -->
        <div class="col-md-5">

			<!-- observation metadata panel -->
            <div class="list-group">
                <li class="list-group-item active">metadata</li>
                <li class="list-group-item">
                    <i class="fa fa-calendar fa-lg"></i><span class="pad-lf-sm"><%= observation.date.toDateString() %></span>
                </li>
                <li class="list-group-item">
					<i class="fa fa-user fa-lg"></i><span class="pad-lf-sm"><%= observation.User.username %></span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-globe fa-lg"></i><span class="pad-lf-sm"><%= observation.location %></span>
                </li>
                <li class="list-group-item">
                    <i class="fa fa-map-marker fa-lg"></i><span class="pad-lf-sm"><%= observation.geo_x %>, <%= observation.geo_y %></span>
                </li>
            </div>

			<!-- observation action buttons -->
			<% if(currentUser) { %>
				<div id="obs-action-btns" class="pad-bottom text-right">
					<a class="btn btn-warning btn-block mgn-bottom" href="/observations/<%= observation._id %>/edit">Edit Observation</a>
					<form id="delete-form" action="/observations/<%= observation._id %>?_method=DELETE" method="post">
						<button class="btn btn-danger btn-block mgn-bottom">Delete Observation</button>
					</form>
				</div>
			<% } %>

			<!-- qa/qc remarks --> <!-- TODO: add qaqc remarks with sequelize -->

        </div>
        <br>

		<!-- new comment modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title">Modal Title</h4>
					</div>
					<div class="modal-body">
						<form class="" action="/observations/<%= observation._id %>/comments" method="post">
							<div class="form-group">
								<label for="remark">Remark:</label>
								<textarea class="form-control" name="remark" placeholder="remark text..."></textarea>
							</div>
							<div class="form-group">
								<label for="qaqc">Action:</label> <!-- TODO: use icons to represent actions (visual grepping) -->
								<input class="form-control" type="text" name="qaqc" placeholder="qa/qc action to take">
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-primary btn-block">Save Remark</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- ./ content container -->
	<div class="container text-muted">
		<small>
			updated: <%=  observation.updated_at.toISOString().replace(/T/, ' ').replace(/\..+/, '') %> <br>
			created: <%= observation.created_at.toISOString().replace(/T/, ' ').replace(/\..+/, '') %>
		</small>
	</div>
	<script type="text/javascript">
		var coords = [<%= observation.geo_y %>, <%= observation.geo_x %>];
		var obmap = L.map('obs-map').setView(coords, 11);
		L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
			attribution: 'Tiles &copy; Esri'
		}).addTo(obmap);
		var marker = L.marker(coords).addTo(obmap);
	</script>
	</body>
</html>
