<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>NDOW 240</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body>

		<% include ./partials/navigation %>

		<div class="container">
    <header class="jumbotron">
         <div class="container">
             <h1>Wildlife Encounters!</h1>
             <p>View wildlife encounter made by NDOW biologists.</p>
             <p>
                <a class="btn btn-primary btn-large" href="/encounters/new">Add New Encounter</a>
             </p>
         </div>
     </header>
	 </div>

    <div class("row text-center")>
      <% encounters.forEach(function(encounter){ %>
            <div class="col-xs-10 col-xs-offset-1" style="border: black solid 1px; margin-top: 5px; margin-bottom: 5px; border-radius: 5px;">
              <h2><%= encounter.species %> - <%= encounter.date %></h2>
							<ul class="list-inline">
								<li><%= encounter.location %></li>
								<li><strong>Coordinates: </strong><%= encounter.x %>, <%= encounter.y %></li>
							</ul>
              <h4>Numbers</h4>
              <ul class="list-inline" id="numbers">
                <li><strong>Female: </strong><%= encounter.female %></li>
                <li><strong>Male: </strong><%= encounter.male %></li>
                <li><strong>Adult: </strong><%= encounter.adult %></li>
								<li><strong>Young: </strong><%= encounter.young %></li>
								<li><strong>Total: </strong><%= encounter.total %></li>
              </ul>
							<h4>Comments</h4>
							<p><%= encounter.comments %></p>

            </div>
      <% }) %>
    </div>

  </body>
</html>
