<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>Wildlife Health</title>
		<% include ../partials/bootstrap %> <!-- bootstrap & jquery -->
		<% include ../partials/leaflet %> <!-- leaflet -->
    <% include ../partials/datatables %> <!-- datatable -->
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
	</head>
	<body>
		<% include ../partials/navigation %>

    <div class="container">
      <h2>Project: <%= project.proj_name %></h2>
      <p>
        <b>Project Dates:</b> <%= project.proj_start.toDateString() %> - <%= project.proj_end.toDateString() %></p>
      <p>
        <b>Number of Encounters:</b> <%= project.Encounters.length %>
      </p>
      <p>
        <a href="encounters/new" class="btn btn-primary">Add New Encounter</a>
      </p>
      <hr>
      <h3>Project Description</h3>
      <p>
        <%= project.proj_desc %>
      </p>
      <h3>Project Goals</h3>
      <p>
        <%= project.proj_goals %>
      </p>
      <hr>

      <table class="table" id="projects">
        <thead>
          <tr>
            <th>NDOW ID</th>
            <th>Species</th>
            <th>Date</th>
            <th>Status</th>
            <th>Sex</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% project.Encounters.forEach(function(encounter) { %>
            <tr>
              <td><%= encounter.Animal.field_id %></td>
              <td><%= encounter.Animal.Species.common_name %></td>
              <td><%= encounter.enc_date.toDateString() %></td>
              <td><%= encounter.status %></td>
              <td><%= encounter.Animal.sex %></td>
              <td>
                <a href="/encounters/<%= encounter.id %>" class="btn btn-primary">view</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

      <div>
        <h3>Project Map</h3>
        <div class="proj_map" id="projMap" style="height: 350px;"></div>
      </div>
    </div>

    <% include ../partials/footer %>

  <script type="text/javascript">
    var initLon = <%= project.Encounters[0].Location.loc_lon %>
    var initLat = <%= project.Encounters[0].Location.loc_lat %>
    var mymap = L.map('projMap').setView([initLat, initLon], 10);
    L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
      attribution: 'Tiles &copy; Esri'
    }).addTo(mymap);

    function onEachFeature(feature, layer) {
      // does this feature have a property named popupContent?
      if (feature.properties && feature.properties.popupContent) {
        layer.bindPopup(feature.properties.popupContent);
      }
    }

    var obs = [];
    <% project.Encounters.forEach(function(encounter){ %>
    var ob = {
      "type": "Feature",
      "properties": {
        "name": "<%= encounter.enc_date %>",
        "popupContent": "<%= encounter.Animal.field_id %>",
      },
      "geometry": {
        "type": "Point",
        "coordinates": [<%= encounter.Location.loc_lon %>, <%= encounter.Location.loc_lat %>]
      }
    };
    obs.push(ob);
    <% }) %>

    var geojsonMarkerOptions = {
      radius: 4,
      fillColor: "#b30000",
      color: "#fff",
      weight: 1,
      opacity: 1,
      fillOpacity: 1
    };

    L.geoJson(obs, {
      onEachFeature: onEachFeature,
      pointToLayer: function(feature, latlng) {
        return L.circleMarker(latlng, geojsonMarkerOptions);
      }
    }).addTo(mymap);

    $(document).ready(function() {
      $('#projects').dataTable();
    });

  </script>
  </body>
</html>
