<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8" />
		<title>Wildlife Health</title>
		<% include ../partials/bootstrap %> <!-- bootstrap & jquery -->
		<% include ../partials/leaflet %> <!-- leaflet -->
    <% include ../partials/datatables %> <!-- datatable -->
    <link rel="stylesheet" href="/stylesheets/main.css">
	</head>
	<body>
		<% include ../partials/navigation %>

    <div class="container">
      <div class="col-sm-12">
        <div class="row">
          <h2 class="col-sm-6 col-sm-offset-3">Wildlife Health Encounter Record</h2>
        </div>

        <div class="row">
          <!-- main content panel -->
          <div class="col-md-9">
            <h3>NDOW ID: <%= encounter.Animal.field_id %>  <span class="pull-right text-muted"><%= encounter.Animal.Species.common_name %></span></h3>
            <hr>

            <!-- marks and ids table -->
            <div class="panel-group panel-group-smush">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#collapseMarks" data-toggle="collapse">Marks and ID's</a>
                  </h4>
                </div>
                <div id="collapseMarks" class="panel-collapse collapse in">
                  <div class="panel-body">
										<% if(encounter.marks == 'yes') { %>
											<table class="table" id="marks">
	                      <thead>
	                        <tr>
	                          <th>Mark Type</th>
	                          <th>Mark ID</th>
	                          <th>Mark Color</th>
	                          <th>Mark Location</th>
	                          <th>Date Applied</th>
	                          <th>Date Removed</th>
	                        </tr>
	                      </thead>
	                      <tbody>
	                        <% encounter.Animal.Marks.forEach(function(mark) { %>
	                          <tr>
	                            <td><%= mark.mark_type %></td>
	                            <td><%= mark.mark_id %></td>
	                            <td><%= mark.mark_color %></td>
	                            <td><%= mark.mark_location %></td>
	                            <td><%= mark.date_given %></td>
	                            <td><%= mark.mark_removed %></td>
	                          </tr>
	                        <% }) %>
	                      </tbody>
	                    </table>
										<% } else { %>
											<p>No mark data</p>
										<% } %>
                  </div>
                  <div class="panel-footer text-muted">
                      If there is a date in the Mark Removed field then the mark is no longer on this animal.
                  </div>
                </div>
              </div>
            </div> <!-- ./ end marks and ids table -->

            <!-- locations module -->
            <div class="panel-group panel-group-smush">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseLocation">Locations</a>
                  </h4>
                </div>
                <div id="collapseLocation" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div id="locMap" style="height: 350px;"></div>
                  </div>
                  <div class="panel-footer text-muted">
                    Location: (<%= encounter.Location.loc_lat %>, <%= encounter.Location.loc_lon %>)
                  </div>
                </div>
              </div>
            </div> <!-- ./ end location module -->

            <!-- biometric module -->
            <div class="panel-group panel-group-smush">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseBiometric">Biometrics</a>
                  </h4>
                </div>
                <div id="collapseBiometric" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table class="table" id="marks">
                      <thead>
                        <tr>
                          <th>Measurement</th>
                          <th>Value</th>
                          <th>Unit</th>
                          <th>Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% encounter.Biometrics.forEach(function(biometric) { %>
                          <tr>
                            <td><%= biometric.biometric %></td>
                            <td><%= biometric.measurement %></td>
                            <td><%= biometric.unit %></td>
                            <td><%= biometric.biom_notes %></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <div class="panel-footer text-muted">
                  </div>
                </div>
              </div>
            </div> <!-- ./ end biometric module -->

            <!-- vitals module -->
            <div class="panel-group panel-group-smush">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseVitals">Vitals</a>
                  </h4>
                </div>
                <div id="collapseVitals" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table class="table" id="marks">
                      <thead>
                        <tr>
                          <th>Measurement</th>
                          <th>Value</th>
                          <th>Time</th>
                          <th>Interval</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% encounter.Vitals.forEach(function(vital) { %>
                          <tr>
                            <td><%= vital.vital_measurement %></td>
                            <td><%= vital.vital_value %></td>
                            <td><%= vital.vital_time_recorded %></td>
                            <td><%= vital.vital_interval %></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <div class="panel-footer text-muted">
                  </div>
                </div>
              </div>
            </div> <!-- ./ end vitals module -->

            <!-- injury module -->
            <div class="panel-group panel-group-smush">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseInjury">Injury</a>
                  </h4>
                </div>
                <div id="collapseInjury" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table class="table" id="marks">
                      <thead>
                        <tr>
                          <th>Measurement</th>
                          <th>Value</th>
                          <th>Time</th>
                          <th>Interval</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% encounter.Injuries.forEach(function(injury) { %>
                          <tr>
                            <td><%= injury.injury_type %></td>
                            <td><%= injury.injury_location %></td>
                            <td><%= injury.injury_description %></td>
                            <td><%= injury.injury_treatment %></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <div class="panel-footer text-muted">
                  </div>
                </div>
              </div>
            </div> <!-- ./ end injury module -->

            <!-- medications module -->
            <div class="panel-group panel-group-smush">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseMeds">Medications</a>
                  </h4>
                </div>
                <div id="collapseMeds" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table class="table" id="marks">
                      <thead>
                        <tr>
                          <th>Medication</th>
                          <th>Dose</th>
                          <th>Unit</th>
                          <th>Method</th>
                          <th>Time</th>
                          <th>Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% encounter.Medications.forEach(function(med) { %>
                          <tr>
                            <td><%= med.medication %></td>
                            <td><%= med.med_dose %></td>
                            <td><%= med.med_unit %></td>
                            <td><%= med.med_method %></td>
                            <td><%= med.med_time_admin %></td>
                            <td><%= med.med_notes %></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <div class="panel-footer text-muted">
                  </div>
                </div>
              </div>
            </div> <!-- ./ end medications module -->

            <!-- samples module -->
            <div class="panel-group panel-group-smush">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseSamples">Samples</a>
                  </h4>
                </div>
                <div id="collapseSamples" class="panel-collapse collapse">
                  <div class="panel-body">
                    <table class="table" id="marks">
                      <thead>
                        <tr>
                          <th>Sample</th>
                          <th>Destination</th>
                          <th>Test</th>
                          <th>Results</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% encounter.Samples.forEach(function(sample) { %>
                          <tr>
                            <td><%= sample.sample %></td>
                            <td><%= sample.sample_destination %></td>
                            <td><%= sample.sample_test %></td>
                            <td><%= sample.sample_results %></td>
                          </tr>
                        <% }) %>
                      </tbody>
                    </table>
                  </div>
                  <div class="panel-footer text-muted">
                  </div>
                </div>
              </div>
            </div> <!-- ./ end samples module -->

          </div> <!-- ./ main content panel -->

          <!-- side panel (metadata) -->
          <div class="col-sm-3">
            <div class="list-group">
              <li class="list-group-item active">Encounter Metadata</li>
							<li class="list-group-item">Project: <%= encounter.project_id %></li>
              <li class="list-group-item"><%= encounter.enc_date.toDateString() %></li>
              <li class="list-group-item">Status: <%= encounter.status %></li>
              <li class="list-group-item">ReEncounter: <%= encounter.reencounter %></li>
              <li class="list-group-item">Relocated: <%= encounter.relocated %></li>
              <li class="list-group-item">Reason: <%= encounter.enc_reason %></li>
              <li class="list-group-item">Method: <%= encounter.enc_method %></li>
              <li class="list-group-item">Marks: <%= encounter.marks %></li>
              <li class="list-group-item">Biometrics: <%= encounter.biometrics %></li>
              <li class="list-group-item">Vitals: <%= encounter.vitals %></li>
              <li class="list-group-item">Injuries: <%= encounter.injuries %></li>
              <li class="list-group-item">Medications: <%= encounter.medications %></li>
              <li class="list-group-item">Samples: <%= encounter.samples %></li>
              <li class="list-group-item">Created: <small><%= encounter.created_at.toDateString() %></small></li>
              <li class="list-group-item">Updated: <small><%= encounter.updated_at.toDateString() %></small></li>
              <!-- <li class="list-group-item"><%= %></li>
              <li class="list-group-item"><%= %></li> -->
            </div>
          </div>
        </div>
      </div>
    </div>

    <% include ../partials/footer %>

    <script type="text/javascript">
      var coords = [<%= encounter.Location.loc_lat %>, <%= encounter.Location.loc_lon %>];
      var locMap = L.map('locMap').setView(coords, 11);
      L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Topo_Map/MapServer/tile/{z}/{y}/{x}', {
        attribution: 'Tiles &copy; Esri'
      }).addTo(locMap);
      var marker = L.marker(coords).addTo(locMap);

      // datatables
      $(document).ready(function() {
        $('table').dataTable();
      });
    </script>
  </body>
</html>
